apiVersion: v1
kind: ConfigMap
metadata:
  name: env-configmap
data:
  AWS_BUCKET: ___INSERT_AWS_BUCKET___
  AWS_PROFILE: ___INSERT_AWS_PROFILE___
  AWS_REGION: ___INSERT_AWS_REGION___
  POSTGRES_DB: ___INSERT_POSTGRES_DB___
  POSTGRES_HOST: ___INSERT_POSTGRES_HOST___
  URL: ___INSERT_FRONTEND_HOST___  
